.checkoutProduct {
  display: flex;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.checkoutProduct_info {
  padding: 1.25rem;
}
.checkoutProduct_rating {
  display: flex;
}
.checkoutProduct_img {
  object-fit: contain;
  width: 11.25rem;
  height: 11.25rem;
}
.checkoutProduct_info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
